
@font-face {
    font-family: Gotu;
    src: url('../fonts/Gotu/Gotu-Regular.ttf');
}

@font-face {
    font-family: Indie;
    src: url('fonts/Indie_Flower/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: Merienda;
    src: url('../fonts/Merienda/Merienda-Regular.ttf');    
}

@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito/Nunito-Regular.ttf');    
}

@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf');    
}